.container {
  margin: 2rem 0;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;

  // Search box
  & > *:first-child {
    flex: 1 0 150px;
    max-width: 400px;
  }

  // Search button
  & > *:last-child {
    flex: 0 0 110px;
  }
}
