.books,
.collapsableBooks {
  flex: 1 1 auto;
}

.list {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  grid-auto-rows: max-content;
  margin: 2rem 0;
}

@container book-sectn (width < 800px) {
  .collapsableBooks {
    display: none;
  }
}
