@import "../../_lib/globals.scss";

@mixin checkout-pages() {
  background-color: white;
  padding: 1rem;
  width: clamp(200px, 70vw, 500px);
}

.container {
  padding: 1rem;
  padding-top: $navbar-offset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 2.5rem 0;
    text-align: center;
  }
}

.billing {
  @include checkout-pages();
}

.shipping {
  @include checkout-pages();
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.summary {
  @include checkout-pages();
  .shippingAndPayment {
    margin: 2rem 0;
    display: grid;
    gap: 1rem;

    h4 {
      display: flex;
      align-items: center;
      gap: 6px;
      margin: 6px 0;
    }

    p {
      margin: 6px;
      color: green;
    }
  }
}
